.additional-form {
  border: none;
  border-top: 3px solid $green-color;
}

.additional-form__legend {
  width: 222px;
}

@media (min-width: $tablet-width) {
  .additional-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 40px;
    margin-right: -30px;
    margin-left: -30px;
  }
}

@media (min-width: $desktop-width) {
  .additional-form__wrapper {
    //width: 245px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 40px;
    margin-right: -40px;
    margin-left: -40px;
  }
}
