.additional-goods {
  margin-top: 29px;
}

.additional-goods__title {
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;

  &::after {
    content: "";
    top: 14px;
    right: -75px;
    width: 53px;
    height: 3px;
    background-color: $green-color;
    position: absolute;
    margin-left: 22px;
    display: block;
  }
}

.additional-goods__list {
  @include reset-indentation;
  width: 100%;
  list-style: none;
}

.additional-goods__item {
  margin-bottom: -1px;
}

.additional-goods__link {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .additional-goods {
    margin-top: 9px;
    position: relative;
  }

  .additional-goods::before {
    content: "";
    top: 23px;
    width: 100%;
    height: 3px;
    background-color: $green-color;
    position: absolute;
    display: block;
  }

  .additional-goods__title {
    width: auto;
    padding-left: 37px;
    padding-right: 37px;
    background-color: $white-color;
    display: inline-block;
    margin-bottom: 81px;

    color: $title-color;
    font-size: 36px;
    line-height: 36px;

    &::after {
      display: none;
    }
  }

  .additional-goods__link {
    margin-bottom: 27px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    margin-bottom: 86px;
  }

  .additional-goods::before {
    top: 29px;
  }

  .additional-goods__list {
    width: 895px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }

  .additional-goods__item {
    margin-bottom: 0;
  }

  .additional-goods__title {
    margin-top: 6px;
    padding-left: 40px;
    transform: translateX(-40px);
  }
}
