.additional-form {
  width: 100%;
  border: none;
}

.additional-form__legend {
  width: 164px;
  margin-bottom: 37px;
}

.additional-form__label {
  position: relative;
  padding-left: 45px;
}

.additional-form__label:active {
  opacity: 0.3;
}

.additional-form__label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -4px;
  left: 18px;
  display: block;
}


//
//.radio-data__label::before {
//  content: "";
//  position: absolute;
//  top: -4px;
//  left: 18px;
//  display: block;
//}

.additional-form__checkbox + .additional-form__label::before {
  content: "";
  position: absolute;
  display: block;
  top: -3px;
  left: 0;
  //width: 30px;
  //height: 30px;
  padding: 6px 3px 6px 4px;
  border: 1px solid #cdcdcd;
}


.additional-form__checkbox:checked + .additional-form__label::before {
  background: url("../../img/icon-tick.svg") no-repeat center;
  background-size: 21px auto;
  background-clip: content-box;
}

@media (min-width: $tablet-width) {
  .additional-form__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional-form__legend {
    width: 292px;
    margin-bottom: 67px;
  }

  .additional-form__label {
    padding-left: 58px;
  }

  .additional-form__label::before {
    width: 40px;
    height: 40px;
  }
}

//@media (min-width: $desktop-width) {
//  .additional-form__wrapper {
  //  //width: 245px;
  //  display: flex;
  //  flex-wrap: wrap;
  //  flex-direction: row;
  //  padding-left: 40px;
  //  margin-right: -40px;
  //  margin-left: -40px;
  //}
//}
