.additional-form {
  width: 100%;
  border: none;
}

.additional-form__legend {
  margin-top: 0;
  margin-bottom: 37px;
}

.additional-form__label {
  position: relative;
  padding-left: 45px;
}

.additional-form__label:active {
  opacity: 0.3;
}

.additional-form__label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -4px;
  display: block;
  left: 0;
  padding: 6px 3px 6px 4px;
  border: 1px solid #cdcdcd;
}

.additional-form__label:hover::before,
.additional-form__label:focus::before {
  border: 1px solid #bababa;
}

.additional-form__checkbox:hover + .additional-form__label::before,
.additional-form__checkbox:focus + .additional-form__label::before {
  border-color: #bababa;
}

.additional-form__checkbox:active + .additional-form__label::before {
  opacity: 0.3;
}

.additional-form__checkbox:checked + .additional-form__label::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 21px auto;
  background-clip: content-box;
}

@media (min-width: $tablet-width) {
  .additional-form__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional-form__legend {
    margin-bottom: 67px;
  }

  .additional-form__label {
    padding-left: 58px;
  }

  .additional-form__label::before {
    width: 40px;
    height: 40px;
  }

  .additional-form__checkbox:focus + .additional-form__label::before {
    outline: 2px solid $green-color;
    outline-offset: 4px;
  }
}
