

.basic-goods__list {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.basic-goods__item {
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;
  border: 1px solid #ededed;
  border-top: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-left: 1px solid #ededed;
}

.basic-goods__item:last-child {
  border-bottom: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .basic-goods__list {
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .basic-goods__item {
    width: calc(50% - 60px);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 30px;
    margin-bottom: 55px;
    margin-left: 30px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 40px;
    background-color: $lightgrey-color;
    background-image: linear-gradient(to bottom, $white-color 83px, $lightgrey-color 83px);
    border: none;
  }

  .basic-goods__item:last-child {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {

  .basic-goods__list {
    width: $desktop-width;
  }

  .basic-goods__item {
    width: calc(25% - 80px);
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 58px;
    padding-left: 0;
    padding-right: 0;
  }
}
