.btn {
  @include reset-indentation;
  color: $white-color;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  background-color: $green-color;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .btn {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
  }

  .btn:hover,
  .btn:focus {
    background-color: #5eaa2f;
  }
}
