.btn {
  @include oswald-regular;
  color: $white-color;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  background-color: $green-color;
}
