.cards-advantages {
  display: flex;
  flex-wrap: wrap;
}

.cards-advantages__icon-wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  background-color: $green-color;
  flex-shrink: 0;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.cards-advantages__description {
  @include reset-indentation;
  @include font-regular;
  color: $text-color;
  width: 71%;
  font-size: 14px;
  line-height: 18px;
  padding-top: 2px;
}

@media (min-width: $tablet-width) {
  .cards-advantages {
    flex-direction: column;
    position: relative;
  }

  .cards-advantages__icon-wrapper {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }

  .cards-advantages__description {
    margin-bottom: 48px;
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .cards-advantages__description:last-child {
    width: 257px;
  }
}

@media (min-width: $desktop-width) {
  .cards-advantages__description {
    width: 100%;
  }
}
