.cards-advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__title {
  margin-bottom: 28px;
  margin-top: -3px;
}

.cards-advantages__icon-wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  background-color: $green-color;
  flex-shrink: 0;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.cards-advantages__icon {

}

.cards-advantages__description {
  @include reset-indentation;
  @include font-regular;
  color: $text-color;
  width: 71%;
  font-size: 14px;
  line-height: 18px;
  padding-top: 2px;
}

@media (min-width: $tablet-width) {
  .cards-advantages {
    flex-direction: column;
  }
}
