.checkbox-wrapper {
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .checkbox-wrapper {
    width: calc(50% - 30px);
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox-wrapper {
    width: 245px;
  }
}
