.contacts-input {
  width: 100%;
  border: none;
}

.contacts-input__legend {
  margin-bottom: 34px;
}

.contacts-input__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.contacts-input__container {
  width: 100%;
  position: relative;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contacts-input__icon {
  position: absolute;
  display: block;
  top: 14px;

  &--mail {
    width: 17px;
    height: 17px;
    top: 14px;
    right: 16px;
  }

  &--mobile {
    width: 20px;
    height: 20px;
    top: 14px;
    right: 13px;
  }
}

.contacts-input__icon-path {
  fill: $title-color-additional-goods;
}

.contacts-input__input:hover + .contacts-input__icon .contacts-input__icon-path {
  fill: $title-color-additional-goods;
}

.contacts-input__input:focus + .contacts-input__icon .contacts-input__icon-path {
  fill: $green-color;
}

@media (min-width: $tablet-width) {
  .contacts-input__legend {
    margin-top: 51px;
    margin-bottom: 76px;
  }

  .contacts-input__icon {
    top: 18px;
  }

  .contacts-input__icon--mail {
    right: 19px;
  }

  .contacts-input__icon--mobile {
    right: 16px;
  }

  .contacts-input__container {
    margin-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-input__legend {
    position: relative;
    width: 593px;
    margin-top: 0;
    left: -40px;
    top: 0;
  }

  .contacts-input__container {
    width: 570px;
  }

  .contacts-input__container:nth-child(2n + 1) {
    margin-right: 40px;
  }

  .contacts-input__container:nth-child(2n) {

    margin-left: 40px;
  }
}
