.contacts {
  background-color: $white-color;
  display: flex;
  flex-wrap: wrap;
  padding-top: 31px;
  padding-bottom: 25px;
}

.contacts__cooperation {
  @include reset-indentation;
  color: $title-color;
  width: 50%;
  //padding-right: 20px;
  //flex-shrink: 0;
  //word-wrap: break-spaces;
  white-space: pre-line;
  //word-break: break-word;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  @include reset-indentation;
  @include font-regular;
  color: $text-color;
  width: 50%;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-width;
    padding-top: 64px;
    padding-right: 72px;
    padding-left: 71px;
    padding-bottom: 61px;
    justify-content: space-between;
    //align-items: center;
  }

  .contacts__cooperation {
    width: 154px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 156px;
    font-size: 16px;
    text-align: right;
  }

  .contacts__address-city {
    display: inline-block;
    padding-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    width: 570px;
    margin-left: 40px;
    top: 95px;
    padding-left: 76px;
    padding-right: 90px;
  }

  .contacts__address {
    text-align: left;
  }
}
