.description-table {
  @include font-regular;
  color: $text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.description-table__row {
  display: flex;
  width: 140px;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .description-table__row {
    width: 250px;
    font-size: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .description-table__row {
    width: 168px;
  }
}
