.example {
  background-color: $lightgrey-color;
}

.example__title {
  padding-top: 17px;
  padding-bottom: 22px;
}

.example__description {
  @include font-regular;
  @include reset-indentation;
  color: $text-color;
  padding-right: 10px;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example__total {
  @include reset-indentation;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 35px;
  color: $title-color;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__picture {
  margin-right: -20px;
  margin-left: -20px;
}

.example__btn {
  @include reset-indentation;
  @include oswald-regular;
  color: $title-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .example {
    width: $tablet-width;
    padding-right: 30px;
    padding-left: 30px;
    background-image: linear-gradient(to bottom, $white-color 60%, $lightgrey-color 60%);
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }
}
