.footer-bottom {
  //width: 320px;
  //margin: 0 auto;
  background-color: $lightgrey-color;
}

.footer-bottom__logo {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .footer-bottom {
    width: 100%;
    padding-top: 56px;
    padding-bottom: 57px;
  }

  .footer-bottom__wrapper {
    width: $tablet-width;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }

  .copyright {
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer-bottom {
    width: 100%;
    padding-top: 49px;
  }

  .footer-bottom__wrapper {
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }
}
