.footer-bottom {
  background-color: $lightgrey-color;
}

.footer-bottom__wrapper {
  width: 320px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
}

.footer-bottom__logo {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .footer-bottom__wrapper {
    width: $tablet-width;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }

  .copyright {
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer-bottom__wrapper {
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }
}
