.footer-logo {
  width: 100%;
  padding-top: 46px;
  padding-bottom: 31px;
  border-bottom: 1px solid #dadada;
  fill: #111111;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.8;
  outline: none;
}

.footer-logo:active {
  opacity: 0.6;
  outline: none;
}

.footer-logo--no-hover:hover,
.footer-logo--no-hover:focus,
.footer-logo--no-hover:active {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .footer-logo {
    width: 129px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .footer-logo__img {
    width: 129px;
    height: 41px;
  }
}
