.form-legend {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
}

//
//@media (min-width: $tablet-width) {
//  .form-legend {
//    width: 593px;
//    //padding-right: 38px; сегодня
//    //padding-left: 40px; сегодня
//    font-size: 36px;
//    line-height: 36px;
//  }
//}
//
//@media (min-width: $desktop-width) {
//  .form-legend {
//    //padding-right: 40px; сегодня
//    //padding-left: 40px; сегодня
//  }
//}
