.form-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 14.5px;
  flex-shrink: 0;

  &--age-margin {
    margin-right: 14.5px;
  }

  &--email-margin {
    margin-right: 11.5px;
  }

  &--tel-margin {
    margin-right: 9.5px;
  }
}

@media (min-width: $tablet-width) {
  .form-label {
    color: $title-color-additional-goods;
    font-size: 20px;
    line-height: 20px;

    &--name-margin {
      margin-right: 17.5px;
    }

    &--mass-margin {
      margin-right: 21.5px;
    }

    &--age-margin {
      margin-right: 17.5px;
    }

    &--email-margin {
      margin-right: 20.5px;
    }

    &--tel-margin {
      margin-right: 15.5px;
    }
  }
}
