.form-order__title {
  width: 230px;
  margin-top: 25px;
  margin-bottom: 38px;
  color: $title-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-order__main {
  @include reset-indentation;
  margin-bottom: 7px;
  border: none;
}

.form-order__radio {
  @include reset-indentation;

  @media (min-width: $mobile-width) and (max-width: 766px) {
    margin-left: -20px;
    margin-right: -20px;
  }

  @media (min-width: $tablet-width) and (max-width: 1299px) {
    margin-right: 37px;
    margin-left: 40px;
  }
}

.form-order__contacts-data {
  @include reset-indentation;
  margin-top: 26px;
  margin-bottom: 16px;
}

.form-order__aria {
  @include reset-indentation;
  margin-bottom: 28px;
}

.form-order__additional {
  @include reset-indentation;
  margin-bottom: 17px;
}

.form-order__link {
  width: 280px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.form-order__rule {
  text-align: center;
}

.form-order__link-wrapper {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .form-order__title {
    margin-bottom: 65px;
    width: 405px;
    font-size: 20px;
    line-height: 30px;
  }

  .form-order__contacts-data {
    margin-bottom: 45px;
  }

  .form-order__main {
    margin-bottom: 53px;
  }

  .form-order__aria {
    margin-bottom: 64px;
  }

  .form-order__link-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 72px;
  }

  .form-order__link {
    width: 283px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }

  .form-order__rule {
    width: 283px;
    margin: 0;
    margin-left: 63px;
  }

  .form-order__additional {
    margin-bottom: 13px;
  }
}


@media (min-width: $desktop-width) {
  .form-order__title {
    width: 333px;
  }

  .form-order__contacts-data {
    margin-top: 24px;
    padding-top: 38px;
  }

  .form-order__main {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .form-order__aria {
    margin-bottom: 68px;
  }

  .form-order__additional {
    margin-bottom: 20px;
  }

  .form-order__link {
    width: 568px;
    margin-right: 40px;
  }

  .form-order__rule {
    margin-left: 40px;
    padding-left: 4px;
  }

  .form-order__link-wrapper {
    margin-bottom: 82px;
  }
}
