.form-aria {
  border: none;
}

.form-aria__text {
  @include oswald-regular;
  width: 280px;
  min-height: 150px;
  margin: 0 auto;
  padding-left: 14px;
  padding-top: 12px;
  padding-right: 11px;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.5);
}

.form-aria__text:hover {
  border-color: #cdcdcd;
}

.form-aria__text:focus {
  border-color: #212735;
  box-shadow: inset 0 0 0 1px #212735;
  outline: 0;
}

.form-aria__text:invalid {
  border-color: #ff8282;
  box-shadow: inset 0 0 0 1px #ff8282;
  outline: 0;
}

.form-aria__legend {
  width: 142px;
  padding-right: 19px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .form-aria__legend {
    width: 259px;
    margin-bottom: 77px;
  }


  .form-aria__text {
    width: 631px;
    min-height: 174px;
    padding-top: 9px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 9px;
    color: $text-color;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form-aria__text {
    width: 1220px;
  }

  .form-aria__legend {
    position: relative;
    left: -40px;
    top: 0;
  }
}
