.input-wrapper {
  display: flex;
  width: 100%;

  &--padding-size {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .input-wrapper--padding-size {
    padding-right: 30px;
    padding-left: 40px;
  }
}

//@media (min-width: $desktop-width) {
//  .input-wrapper {
//    width: 570px;
//  }

//  .input-wrapper--padding-size {
//    padding-right: 40px;
//    padding-left: 40px;
//  }
//}
