.legend-line {
  position: relative;

  &::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: $green-color;
    top: calc(100% - 42%);
    z-index: -1;
  }
}

@media (min-width: $mobile-width) and (max-width: 767px) {
  .legend-line--contacts::after {
    top: calc(100% - 74%);
  }
}

@media (min-width: $tablet-width) {
  .legend-line::after {
    top: calc(100% - 42%);
  }
}

@media (min-width: $desktop-width) {
  .legend-line::after {
    top: calc(100% - 33%);
  }
}
