.main-form__title {
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .main-form__title {
    margin-top: 57px;
    margin-bottom: 31px;
  }
}
//
@media (min-width: $desktop-width) {
  .main-form__title {
    margin-top: 74px;
  }
}
