.main-nav {
  background-color: transparent;
  width: 320px;
  margin-right: -20px;
  margin-left: -20px;
}

.main-nav__list {
  @include reset-indentation;
}
//
@media (min-width: $tablet-width) {
  //.main-nav__list {
  //  //width: 510px;
  //}
//}

  .main-nav {
    width: 510px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 50%;
  }

  .main-nav__list {
    //width: 610px;
  }
}
