
.map {
  padding: 0;
  width: 100%;
}

.map__picture {
  margin: 0 auto;
  width: 320px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 55px;
    top: 139px;
    height: 53px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.map__image {
  width: 320px;
  height: 359px;
  display: block;
}

@media (min-width: $tablet-width) {
  .map {
    padding: 0;
    width: 100%;
  }

  .map__picture {
    margin: 0 auto;
    width: $tablet-width;
  }

  .map__picture::after {
    top: 144px;
    width: 113px;
    height: 106px;
  }

  .map__image {
    width: 767px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    padding: 0;
    width: 100%;
  }

  .map__picture {
    margin: 0 auto;
    width: 1440px;
    height: 400px;
  }

  .map__image {
    width: 100%;
    min-height: 400px;
  }

  .map__picture::after {
    top: 151px;
    right: 203px;
    left: auto;
  }
}
