
.map {
  padding: 0;
  width: 100%;
}

.map__picture {
  margin: 0 auto;
  width: 320px;
}

.map__image {
  width: 320px;
  height: 359px;
  display: block;
}

@media (min-width: $tablet-width) {

  .map {
    padding: 0;
    width: 100%;
  }

  .map__picture {
    //margin-left: -40px;
    //margin-right: -40px;
    margin: 0 auto;
    width: $tablet-width;
  }

  .map__image {
    width: 767px;
    //min-height: 394px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    padding: 0;
    width: 100%;
  }

  .map__picture {
    //margin-left: -40px;
    //margin-right: -40px;
    margin: 0 auto;
    width: 1440px;
    height: 400px;
  }

  .map__image {
    width: 100%;
    min-height: 400px;
  }
}
