.page-header {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid $border-color;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 10px;
  width: 100%;
}

.page-header__logo-image {
  width: 191px;
  height: 38px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 173px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 202px;
    height: 59px;
  }
}


@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
    padding-top: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
  }

  //.page-header__wrapper {
  //  margin: 0 auto;
  //  padding-right: 30px;
  //  padding-left: 30px;
  //}

  .page-header__top {
    justify-content: flex-start;
    width: 190px;
    //padding-top: 24px;
    padding-top: 0;
    padding-bottom: 0;
    //padding-right: 0;
    //padding-left: 0;
  }

  //.page-header__link:hover,
  //.page-header__link:focus {
  //  opacity: 0.8;
  //  outline: none;
  //}



  //.page-header__link:active {
  //  opacity: 0.6;
  //  outline: none;
  //}


  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
    padding-top: 54px;
  }

  //.page-header__wrapper {
  //  margin: 0 auto;
  //  padding-right: 40px;
  //  padding-left: 40px;
  //}

  .page-header__top {
    width: 50%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
