.page-title {
  @include reset-indentation;
  @include oswald-regular;
  color: $title-color;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.page-title--white {
  color: $white-color;
}
