.page-footer {
  position: relative;
}

.page-footer__social {
  margin-right: auto;
  margin-left: auto;
}

.page-footer__contacts {
  z-index: 2;
}

.page-footer__map {
  position: absolute;
  top: 118px;
  // Топ для того что-бы при отключенной карте отображлся блок контакты и карта под него не падала
  z-index: -1;
  //времено скрываем для стилизации иконки
  //z-index: 1;

  @media (min-width: $tablet-width) {
    top: 203px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
  }
}

.page-footer__map-iframe {
  //position: absolute;
  //top: 0;
  //left: 0;
  border: none;
  width: 100%;
  height: 355px;

  @media (min-width: $tablet-width) {
    height: 396px;
  }

  @media (min-width: $desktop-width) {
    height: 399px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    position: relative;
  }
}
//
//@media (min-width: $desktop-width) {
//  .page-footer__map-iframe {
//    //position: absolute;
//    //top: 0;
//    //left: 0;
//  }
//}
