.program {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.program__list {
  @include reset-indentation;
  list-style: none;
}

.program__item {
  @include reset-indentation;
  margin-bottom: 20px;
  display: block;
}

@media (min-width: $tablet-width) {
  .program {
    width: $tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }

  .program__list {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }

  .program__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -40px;
    margin-left: -40px;
  }

  .program__item {
    width: 570px;
    margin: 40px;
    flex-shrink: 0;
  }
}
