.program__list {
  @include reset-indentation;
  list-style: none;
  width: 100%;
}

.program__item {
  @include reset-indentation;
  margin-bottom: 20px;
  display: block;
}

@media (min-width: $tablet-width) {
  .program__list {
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .program {
    margin-bottom: 0;
  }

  .program__list {
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-right: -40px;
    margin-left: -40px;
  }

  .program__item {
    flex-shrink: 0;
  }
}
