.program__list {
  list-style: none;
  @include reset-indentation;
}

.program__item {
  @include reset-indentation;
  margin-bottom: 20px;
  background-color: $background-grey-color;
  display: block;
}

.program__title {
  @include reset-indentation;
  @include oswald-regular;
  color: $title-color;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
}

.program__link {
  @include reset-indentation;
  @include oswald-regular;
  color: $title-color;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
