.promo-link {
  display: block;
  background-color: $green-color;
}

.promo-link__text {
  @include font-regular;
  color: $white-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .promo-link {
    //временно высота
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .promo-link {
    display: inline-block;
    width: 245px;
  }
}
