.row-container {
  margin-right: -20px;
  margin-left: -20px;
}

@media (min-width: $tablet-width) {
  .row-container {
    margin-right: -30px;
    margin-left: -30px;
  }
}

@media (min-width: $desktop-width) {
  .row-container {
    margin-right: -40px;
    margin-left: -40px;
  }
}
