.site-list {
  @include oswald-medium;
  color: $title-color;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__link {
  display: block;
  padding-top: 12px;
  color: $text-color;
}
