@mixin font-regular {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-family: "Arial", "Open Sans", sans-serif;
  color: $text-color;
  letter-spacing: normal;
}

@mixin oswald-regular {
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@mixin oswald-medium {
  font-family: "Oswaldmedium", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@mixin reset-indentation {
  margin: 0;
  padding: 0;
}
